<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <a href="{{ '/' | relative_url }}">
        <img src="{{ '/logo.png' | relative_url }}" alt="Logo" style="height:32px; vertical-align: middle; margin-right: 10px;">
        <span style="vertical-align: middle;">{{ site.title }}</span>
      </a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">
        <span class="site-footer-owner">
          <a href="{{ site.github.repository_url }}">View the project on GitHub</a>
        </span>
      </footer>
    </main>
  </body>
</html>
